extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Sign in
          p.subheadline
            | The sign in page is the central feature of a page of an application. It should provide a seamless user experience
            | and shouldn’t present an unnecessary obstacle to the user.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Sign in assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3
        | Basic structure
      p
        | The basic structure provides a sidebar, sign in and footer areas. The sign in area consists of a fixed width area on top of a background.
      ul
        li
          | The sidebar contains elements such as branding information and social media links.
        li
          | The main area shows the login form.
        li
          | The footer is an additional navigation element and can contain links, company or copyright information, etc.
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid(src='/images/templates/sign-in/sign-in.png')
    article.margin-top-xxl
      h3
        | Fluid page layout
      p
        | The fluid page layout is the default layout in SUSE. It provides the right screen real estate for content by allowing
        | it to stretch and contract relative to the screen size.
      h3.margin-top-xxl
        | Responsive breakpoints
      ul
        li
          |  bigger than 1120px
        li
          |  770px - 1119px
        li
          | less than 770px

    article.margin-top-xxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/desktop.png', alt='Sign in page image for desktop')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/tablet.png', alt='Sign in page image for tablet')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/mobile.png', alt='Sign in page image for mobile')
    article.margin-top-xxl
      h3
        | How to implement
      ul
        li
          |  The sign in box has a fixed width of #[code 1120px] on top of a background and stays positioned in the middle of the screen.
        li
          |  There are two sections inside the sign in box: A sidebar with a fixed width of #[code 445px] and a sign in area with faixed width of #[code 675px].
        li
          | As the screen gets smaller, and the background is no longer visible, the sidebar changes to a width of #[code 335px] and the sign in area becomes flexible.
        li
          | For screens smaller than #[code 770px], the sidebar is hidden and only the sign in area is visible with the logo.
    article.margin-top-xxxl
      h3
        | Background
      p
        | Click #[a(href='/form-elements/input-fields', data-event-category='External link', data-event-action='Sign in page background', data-event-label='Templates/Sign in') here] to download the background image.
