extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Displaying addresses
          p.subheadline
            | Display what the user has entered in the address form in a presentable way.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Form element assets
            ul.dropdown-menu.dropdown-menu-right
              include ./../shared/assets.pug
    hr
    article
      section.margin-top-xxl.global-alerts-demo
        h3
          | Description
        ul.list-no-padding
          li
            | Always associate a label to every text field for good accessibility. Do not include a colon at the end of the label.
          li
            | Keep the basic structure of the address output similar to the address form.

        .row.states-row.margin-top-xxl
          .col-md-8.address-example
            strong.states-column-title
              | Address form output example
            p
              | Format the output appropriate to what the user has entered
            .address-example-output
              h4
                | Address
              ul.no-list-style.js-states-list.margin-top-xl
                li
                  label
                    | Street name
                  p
                    | Křižíkova 148, Praha 8-Karlín
                li
                  label
                    | Apartment/Suite/Other
                  p
                    | 2245/25
                li
                  label
                    | City
                  p
                    | Praha
                li
                  label
                    | Zip/Postal code
                  p
                    | 186 00
                li
                  label
                    | Country
                  p
                    | Czech Republic
