/* Address
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/eos-pages/address/address.variables.scss
*
*/

.address-example {
  background-color: $eos-address-example-background-color;
  margin: 0;
  padding: 0;

  > p {
    margin: $eos-address-example-p-margin;
  }

  .address-example-output {
    background-color: $eos-address-example-output-background;
    margin: $eos-address-example-output-margin;
    padding: $eos-address-example-output-padding;

    h4 {
      border-bottom: 1px solid $eos-address-example-background-color;
    }
  }
}
