/* Input fields
  ========================================================================== */
/**
*  These rules overwrite existing Bootstrap rules
*
* Variables file: assets/stylesheets/eos-components/input-fields/text/input-text.variables.scss
*/

.form-control {
  border: 0;
  border-bottom: 1px solid $eos-form-element-color;
  border-radius: 0;
  padding: $eos-text-input-padding;
  width: 100%;

  &:focus {
    box-shadow: 0px 1px 0px $eos-form-element-focus;
    outline: none;
  }

  &:disabled {
    background-color: transparent;
    border-bottom: 1px solid $eos-form-element-disabled;
    color: $eos-form-element-disabled;

    ~ .input-group-append i {
      color: $eos-form-element-disabled;
      pointer-events: none;
    }
  }

  &.approved {
    border-bottom: 1px solid $eos-form-element-approved;
  }

  &.error {
    border-bottom: 1px solid $eos-form-element-error;
  }
}

.eos-input-password {
  position: relative;
}

/* Password Strength Meter */

.password-strength-meter {
  align-items: center;
  display: flex;
  height: $eos-text-input-password-strength-meter-height;
  width: $eos-password-meter-width;

  .meter {
    background: $eos-text-input-password-meter-background;
    height: $eos-text-input-password-meter-height;
    margin-right: $eos-text-input-password-meter-margin-right;
    width: 24%;
  }

  .meter-text {
    font-size: $eos-text-input-password-meter-text-size;
    font-weight: 600;
    text-align: end;
    width: 25%;
  }

  &.weak {
    .meter:nth-child(-n + 1) {
      background: $eos-form-element-error;
    }

    .meter-text {
      color: $eos-form-element-error;

      &:after {
        content: 'weak';
      }
    }
  }

  &.medium {
    .meter:nth-child(-n + 2) {
      background: $eos-text-input-password-medium;
    }

    .meter-text {
      color: $eos-text-input-password-medium;

      &:after {
        content: 'Medium';
      }
    }
  }

  &.strong {
    .meter:nth-child(-n + 3) {
      background: $eos-form-element-approved;
    }

    .meter-text {
      color: $eos-form-element-approved;

      &:after {
        content: 'Strong';
      }
    }
  }
}

.toggle-password {
  color: $eos-text-input-toggle-password-color;
  cursor: pointer;
  margin-left: $eos-text-input-toggle-password-margin-left;
  position: absolute;
  top: 12px;
  z-index: 1000;
}
