/* Text input variables
   ========================================================================== */
/**
*
*  Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*  Color variables: /assets/stylesheets/eos-base/variables/branding.scss
*
*/

$eos-text-input-padding: $eos-s $eos-xs;

$eos-text-input-password-medium: $eos-bc-yellow-900;
$eos-text-input-password-meter-background: $eos-bc-gray-100;
$eos-text-input-hint-text-color: $eos-bc-gray-500;
$eos-text-input-password-criteria-text-color: $eos-bc-gray-500;

$eos-input-file-margin-right: $eos-s;

$eos-text-input-password-strength-meter-height: $eos-l - 4px;
$eos-text-input-password-meter-height: $eos-xs - 1px;
$eos-text-input-password-meter-margin-right: $eos-xs + 1px;
$eos-text-input-password-meter-text-size: $eos-m - 2px;

$eos-password-meter-width: 100%;
$eos-text-input-hint-text-font-size: 12px;
$eos-text-input-hint-text-line-height: $eos-m;
$eos-text-input-hint-text-margin-top: $eos-xs;

$eos-text-input-toggle-password-margin-left: -15px;
$eos-text-input-toggle-password-color: $eos-bc-gray-700;
