doctype html
html
  head
    include shared/layout-head.pug
  body.signin-bg
    section.signin-content
      .sign-in-box
        include ../shared/sign-in/brand-signin.pug
        .form-container
          include ../shared/sign-in/sign-in-header.pug
          block content
          include ../shared/sign-in/sign-in-footer.pug
