extends ../layouts/layout-main

block content
  .container.js-comingNextController
    section
      .row
        .col-md-12
          h1
            | Coming next
          p.subheadline
            | Our roadmap is full of elements, components, modules, and templates. Atomic design in combination with CI/CD processes allows us to deliver new features to EOS once thoroughly tested. We carefully select each piece in a holistic approach that ensures scalability. Get a sneak peek of what is about to come.
    hr
    article
      section.js-coming-next-list.margin-top-xxl
        eos-alert(type='info', scope='section', title='Elements or components missing')
          | If you require a specific element(s) or component(s) that is not included in EOS yet, you must continue to use the available element/component from Bootstrap, Material Design, or the UI framework of your choice.
          | We are working hard to accelerate the delivery of elements/components, taking into consideration all different use cases and product diversity. #[a.js-feedback-tool-open.js-screenshoot Get in touch with us] if you have any questions.
        article.coming-next-article.js-coming-next-item
          .row
            .col-md-8
              h3.js-coming-next-title
              p.js-coming-next-description
            .col-md-4
              .figure-wrap
                figure.text-center
                  img.js-coming-next-image.img-fluid
      section.margin-top-xxl
        .row
          .col-md-12
            h3
              | And much more
            p
              | If you have a suggestion, a doubt or just a feedback write us #[a.js-feedback-tool-open.js-screenshoot clicking here].
