/* Input fields
  ========================================================================== */
/**
* These rules overwrite existing Bootstrap rules
*
* Variables file: assets/stylesheets/eos-components/input-fields/input-fields.variables.scss
*/

// offset absolute positioning of label with fixed height
.custom-file {
  height: $eos-file-input-wrapper-height;
}

.custom-file-input {
  &:focus ~ label {
    box-shadow: 0px 1px 0px $eos-form-element-focus;
    outline: none;
  }

  &:disabled ~ label {
    background-color: transparent;
    border-bottom: 1px solid $eos-form-element-disabled;
    color: $eos-form-element-disabled;

    &::after {
      border-color: $eos-form-element-disabled;
      color: $eos-form-element-disabled;
    }
  }

  &.approved ~ label {
    border-bottom: 1px solid $eos-form-element-approved;
  }

  &.error ~ label {
    border-bottom: 1px solid $eos-form-element-error;
  }
}

.custom-file-label {
  border: 0;
  border-bottom: 1px solid $eos-form-element-color;
  border-radius: 0;
  color: $eos-form-element-label-color;
  height: $eos-file-input-height;
  padding: 0;
  width: $eos-file-input-width;

  // button style
  &::after {
    @extend .btn-secondary;
    @extend .btn-sm;
    @extend .btn;
    border: 1px solid;
    cursor: pointer;
    font-size: $eos-file-input-font-size;
    height: $eos-file-input-btn-height;
    right: $eos-file-input-right-pos;
    top: $eos-file-input-top-pos;
  }
}
