extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Text
          p.subheadline
            | Input elements with type ‘text’ allow users to enter any combination of letters,
            | numbers, or symbols. A text box only allows for a single line of input.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Form elements assets
            ul.dropdown-menu.dropdown-menu-right
              include ./../shared/assets.pug
    hr
    article
      section.margin-top-xxl.global-alerts-demo
        h3
          | Description
        ul.list-no-padding
          li
            | Always associate a label to every text field for good accessibility. Do not include a colon at the end of the label.
          li
            | Use the appropriate length for the text input. The length of the input text field
            | provides a hint to users as to how much text is expected.
          li
            | An input text field only allows for a single line of input.

        .row.states-row.margin-top-xxl
          .col-md-3.states-column
            strong.states-column-title
              | Element states
            ul.states-list.no-list-style.js-states-list
              li.js-state-current
                input.js-element-id(type='radio', name='text')
                span.radio-button
                label.js-element-label(for='default-state')
                  | Default
          .col-md-9.states-implementation-column
            strong.states-implementation-column-title
              | How to use this element
            p.js-how-to-use
            strong.states-implementation-column-title
              | Example
            .states-example-box.margin-top-s
              .example-inner-box.js-example-inner-box
            strong.states-implementation-column-title.margin-top-m
              | Code
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code.language-markup
                code.language-markup
