extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Footer
          p.subheadline
            | The footer is an additional navigation for the site and it can contain links, company, copyright and other complementary information.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Layout assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3
        | Description
      ul
        li
          | Depending on amount of information that the footer contain, it can be positioned
          | at the very bottom of the main menu (for small footer content) or at the bottom of
          | the content area (for larger footer content).
        li
          | If the footer is located within the main menu, when menu is collapsed, the footer changes position to the bottom of the content area.
        li
          | When placed under the content area, the footer should be aligned to the left.
        li
          | The background color, when it is located in the main menu is #[code $eos-bc-pine-700].

    article.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-greater-1336.svg', alt='Footer image for screens greater than 1336px')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-770-1335.svg', alt='Footer image for screens between 770px and 1335px')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-360-769.svg', alt='Footer image for screens between 360px and 769px')
