extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Main menu
          p.subheadline
            | The menu provides a list of choices for the user. The main menu is used for quick access to a consistent list of items.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Layout assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3
        | Description
      ul
        li
          | The main menu is always positioned on the left side of the screen.
        li
          | In big screens, the main menu starts off as uncollapsed, while in medium screens it starts off as collapsed.
        li
          | It contains a list of items which are always available.
        li
          | It may contain dropdown groups, which allow the user to choose one value from the list. When the dropdown is inactive, it displays a single value.
        li
          | The menu has 3 responsive breakpoints: bigger than 1336px, 770px - 1336px and 360px - 769px.
        li
          | The background color is #[code $eos-bc-pine-500].
        li
          | It contains a #[i.eos-icons.eos-18 menu] icon on the top-right corner
          | to allow users collapse the menu in order to increase the space in the content area.

    article.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/main-menu-greater-1336.svg', alt='Menu image for screens greater than 1336px')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/main-menu-770-1335.svg', alt='Menu image for screens between 770px and 1335px')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/main-menu-360-769.svg', alt='Footer image for screens between 360px and 769px')
