doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css')
    link(rel='stylesheet' href='css/eos-style.css')
    title EOS - Layout

  body.signin-bg
    section.signin-content
      .sign-in-box
        include files_copy/shared/sign-in/brand-signin.pug
        .form-container
          include files_copy/shared/sign-in/sign-in-header.pug
          block content
            include files_copy/auth/password-recovery/index.pug
          include files_copy/shared/sign-in/sign-in-footer.pug

script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/demo.js')
