extends ../layouts/sign-in
block content
  .sign-in-form
    h1
      | Recover password
    form.margin-top-xl
      .form-group
        label Email
        input.form-control(type='text')
      a.btn.btn-primary.btn-block.margin-top-xxl(role='button', href='demo-password-email.html') Send email
    .form-links.margin-top-xxl
      a(href='demo-sign-in.html')
        | I already have an account
