li
  a.dropdown-item(href='https://xd.adobe.com/view/924ed6f7-aa72-4ced-7cb8-f6a5c686b3f9-e47f/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Sign-in/sign-in.xd?inline=false', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false')
    i.eos-icons.eos-18
      | image
    | Download background image
