.sign-in-footer
  ul
    li
      | © 2019 SUSE
    li
      a(href='#')
        | Karriere
    li
      a(href='#')
        | Rechtliches
    li
      a(href='#')
        | Datenschutzbestimmungen
    li
      a(href='#')
        | Info
    li
      a(href='#')
        | Kontakt
    li
      a(href='#')
        | Team
  p.sign-in-cookies
    | This site saves some information in cookies but only when strictly necessary - #[a Learn more].
